section {
    padding-top: 5rem;
}

.jumbotron {
    padding-top: 7em;
    background-color: #e2edff;
}

#project {
    background-color: #e2edff;
}

footer{
    background-color: #3179a0;
}

#navbar-example2{
    background-color: #3179a0;
}
